{{ define "main" }}

<div class="container py-4 py-md-5 py-xl-6 mb-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="display-4">Services</h1>
            <p class="lead">You have big plans to disrupt your industry and improve the lives of others. Here's how we can help.</p>
        </div>
    </div>
</div>

<div class="bg-skew bg-skew-light">

<div class="container">
    <!--<h2 class="text-center" id="projects">Case Studies</h2>
    <div class="divider mx-auto mb-5"></div>-->
    <div class="row mb-lg-5">
        {{ range first 6 (where .Site.RegularPages.ByWeight "Type" "services") }}
        {{ partial "service-card.html" . }}
        {{ end }}
    </div>
</div>


    <!--
    <div class="divider mx-auto"></div>
    <div class="container py-5">
        <h2 class="text-center mb-5">Work at Alora Labs</h2>
        <div class="row justify-content-center g-5">
            <div class="col-md-6 col-lg-5">
                <h3 class="h6">Are there discounts for yearly plans?</h3>
                <p class="text-secondary mb-0">Ut sit amet neque sed mauris elementum pellentesque. In viverra sed justo a eleifend. Vestibulum a finibus nunc, ut malesuada nisl.</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3 class="h6">How long are your contracts?</h3>
                <p class="text-secondary mb-0">Sed tincidunt euismod augue sit amet finibus. Phasellus ullamcorper ante quis eros sagittis, vel efficitur risus porta.</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3 class="h6">Can I change my plan later on?</h3>
                <p class="text-secondary mb-0">Quisque suscipit, enim ut porta vulputate, lacus sem venenatis mauris, id convallis dui mauris et urna.</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3 class="h6">Can I cancel my account at any time?</h3>
                <p class="text-secondary mb-0">Sed vestibulum eu urna a condimentum. Nullam molestie efficitur ex, eu tincidunt dui eleifend quis.</p>
            </div>
        </div>
    </div>
    -->

</div>

{{ end }}
