<svg width="800" height="800" viewBox="0 0 800 800" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M233.333 646.666V153.333C233.333 142.287 242.288 133.333 253.333 133.333H546.667C557.713 133.333 566.667 142.287 566.667 153.333V646.666C566.667 657.713 557.713 666.666 546.667 666.666H253.333C242.288 666.666 233.333 657.713 233.333 646.666Z" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M466.667 666.667V750" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M333.333 666.667V750" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M466.667 133.333V50" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M333.333 133.333V50" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M233.333 400H150" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M650 400H566.667" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M233.333 216.667H150" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M650 216.667H566.667" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M233.333 583.333H150" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M650 583.333H566.667" stroke="white" stroke-width="50" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
