<footer class="site-footer mt-5">
    <div class="container">
        <hr class="m-0">
        <div class="mt-4 mb-4">
            <span class="text-muted">
                Proudly Canadian. Toronto, Canada 🇨🇦
            </span>
            <div class="text-muted">
                &copy; {{ now.Year }} Alora Labs Inc. All rights reserved.
            </div>
        </div>
    </div>
</footer>

{{ $scripts := resources.Get "scripts/main.ts" }}
{{ $options := dict "minify" false }}
{{ $js := $scripts | js.Build $options }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

</body>
