<footer class="site-footer mt-5">
    <div class="container">
        <hr class="m-0">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center mt-4">
            <p class="small text-muted sm-text-center">
                11 Charlotte Street, Suite 707, Toronto, Canada<br>
                &copy; 2018 Alora Labs Inc. All rights reserved.
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="icon-inner fab fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/autotrack@2.4.1/autotrack.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.15/dist/bootstrap-native-v4.min.js"></script>
</body>
