<div class="col-md-6 service-card-container">
    <div class="card h-100 service-card">
        {{ partial "service-card-icon.html" (dict "icon" .Params.icon) }}
        <div class="card-body d-flex flex-column">
            <h4 class="card-title">
                {{ if eq .Params.link "enable" }}
                <a href="{{ .RelPermalink }}" title="Learn more">
                    {{ .Title }}
                    <button aria-label="Learn more" class="btn-learn-more">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill="currentColor"
                                d="M11.999 1.993c-5.514.001-10 4.487-10 10.001s4.486 10 10.001 10c5.513 0 9.999-4.486 10-10c0-5.514-4.486-10-10.001-10.001zM12 19.994c-4.412 0-8.001-3.589-8.001-8s3.589-8 8-8.001C16.411 3.994 20 7.583 20 11.994c-.001 4.411-3.59 8-8 8z"
                            />
                            <path
                                fill="currentColor"
                                d="M12 10.994H8v2h4V16l4.005-4.005L12 7.991z"
                            />
                        </svg>
                    </button>
                </a>
                {{ else }} {{ .Title }} {{ end }}
            </h4>
            <div class="card-text flex-grow-1">{{ .Params.description }}</div>
        </div>
    </div>
</div>
