a {
    transition: color 0.2s ease-in-out;

    p &,
    p &:hover {
        text-decoration: underline;
    }
}

.link-cta {
    border-bottom: 2px solid theme-color("primary");
    color: theme-color("dark");
    font-size: $font-size-sm;
    letter-spacing: 1px;
    padding-bottom: 2px;
    text-transform: uppercase;

    &:hover {
        color: theme-color("primary");
    }
}
