// Custom variables

// Colors

$theme-colors: (
    "primary":      #1a7aff,
    "secondary":    #656e79,
    "success":      #43a047,
    "info":         #00acc1,
    "warning":      #f06005,
    "danger":       #e22c2f,
    "light":        #f8f9fa,
    "dark":         #343a40
);
$white: #fff;
$black: #000;

// Options

$enable-caret:      false;
$enable-shadows:    true;

// Spacing
$spacer: 1rem;
$spacers: (
    6: ($spacer * 5)
);

// Links

$link-decoration:       none;
$link-hover-decoration: none;

// Grid columns

$grid-gutter-width:     36px;

// Components

$border-radius:         .375rem;
$border-radius-lg:      .5rem;
$border-radius-sm:      .25rem;

$box-shadow-sm:         0 .125rem .25rem rgba($black, .075);
$box-shadow:            0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:         0 1rem 3rem rgba($black, .175);

// Fonts

$font-family-serif:     "Merriweather", serif;
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base:      $font-family-sans-serif;

$font-size-base:            1rem;

$headings-font-family:      $font-family-serif;
$headings-font-weight:      700;
$headings-line-height:      1.3;

$headings-margin-bottom:    1rem;

$display1-size:             4.5rem;
$display2-size:             3.75rem;
$display3-size:             3.25rem;
$display4-size:             2.75rem;
$display-line-height:       1.3;

$blockquote-font-size:      ($font-size-base * 1.125);

// Alerts

$alert-padding-y:           1rem !default;
$alert-padding-x:           1.5rem !default;
$alert-border-radius:       0;
$alert-border-width:        0;
$alert-bg-level:            0;

// Buttons

$btn-padding-y:             .875rem;
$btn-padding-x:             1.5rem;
$btn-padding-y-sm:          .5rem;
$btn-padding-x-sm:          1rem;
$btn-padding-y-lg:          1rem;
$btn-padding-x-lg:          1.75rem;
$btn-box-shadow:            0 7px 16px 0 rgba(0,0,0,0.20);
$btn-border-width:          2px;

// Forms

$input-padding-y:           0.875rem;
$input-padding-x:           1.5rem;
$input-padding-y-sm:        0.5rem;
$input-padding-x-sm:        0.75rem;
$input-padding-y-lg:        1rem;
$input-padding-x-lg:        1.25rem;

$input-border-width:        2px;
$input-box-shadow:          none;

$input-height:              auto;

// Dropdowns

$dropdown-padding-y:        0;
$dropdown-border-radius:    10px;
$dropdown-border-color:     map-get($theme-colors, "light");
$dropdown-link-hover-color: map-get($theme-colors, "primary");
$dropdown-link-hover-bg:    none;
$dropdown-link-active-color:map-get($theme-colors, "primary");
$dropdown-link-active-bg:   none;
$dropdown-item-padding-y:   0.75rem;

// Navbar

$navbar-nav-link-padding-x:         1.25rem;
$navbar-light-color:                map-get($theme-colors, "dark");
$navbar-light-hover-color:          map-get($theme-colors, "primary");
$navbar-light-active-color:         map-get($theme-colors, "primary");
$navbar-toggler-padding-x:          0.5rem;
$navbar-light-toggler-border-color: transparent;

// Cards

$card-border-radius:        $border-radius-lg;

// Image thumbnails

$thumbnail-padding:         .5rem;
$thumbnail-bg:              map-get($theme-colors, "light");
$thumbnail-border-width:    0;
$thumbnail-border-radius:   $border-radius;
$thumbnail-box-shadow:      $box-shadow-lg;
