{{ define "main" }}

<!-- Hero -->
<div class="container mb-lg-3">
    <div class="row justify-content-center py-5 py-lg-6">
        <div class="col-lg-10 text-center pb-4">
            <h1 class="display-3 mb-4">Modernize Your Technology</h1>
            <p class="lead px-sm-5">
                We develop custom hardware and software products that transform businesses.
            </p>
            <a class="btn btn-primary" href="#process">Learn More</a>
        </div>
    </div>
</div>

<div class="bg-skew bg-skew-light">
    <!-- Icon blocks -->
    <div class="container">
        <div class="row py-4 mb-lg-5">
            <div class="col-md-4 mb-4">
                <div class="text-center px-lg-3">
                    <img src="/svg/1.svg" width="256" loading="lazy" class="img-fluid mb-3" alt="">
                    <h5 class="my-2">Web applications</h5>
                    <p class="mb-md-0">User interfaces to manage your system and analyze data</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="text-center px-lg-3">
                    <img src="/svg/3.svg" width="256" loading="lazy" class="img-fluid mb-3" alt="">
                    <h5 class="my-2">Infrastructure</h5>
                    <p class="mb-md-0">DevOps consulting<br>for the mass market</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="text-center px-lg-3">
                    <img src="/svg/4.svg" width="256" loading="lazy" class="img-fluid mb-3" alt="">
                    <h5 class="my-2">Electronics</h5>
                    <p class="mb-md-0">Smart devices using wireless communication technologies</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="sep border-primary">

    <!-- Features -->
    <div class="container services">
        <div class="text-center">
            <h2 id="process">The Process</h2>
        </div>
        <div class="row align-items-lg-center py-4 py-lg-5">
            <div class="col-md-6 mb-4 mb-lg-0 order-last order-md-first">
                <img src="/svg/2.svg" loading="lazy" class="img-fluid" alt="">
            </div>
            <div class="col-md-5 offset-md-1">
                <h5>Product Management</h5>
                <p>Before diving into development, let's strategize.</p>
                <p>We'll put together a product roadmap, design a workflow, craft user stories, and prioritize the features with sprint planning</p>
            </div>
        </div>
        <div class="row align-items-lg-center py-4 py-lg-5">
            <div class="col-md-5">
                <h5>Custom Development</h5>
                <p>Roadmap is complete and you're ready to begin development.</p>
                <p>Mapping out technical requirements and building to specification. Whether it's a SaaS product or an IoT solution, we've got you.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 offset-md-1">
                <img src="/svg/6.svg" loading="lazy" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row align-items-lg-center py-4 py-lg-5">
            <div class="col-md-6 mb-4 mb-lg-0 order-last order-md-first">
                <img src="/svg/5.svg" loading="lazy" class="img-fluid" alt="">
            </div>
            <div class="col-md-5 offset-md-1">
                <h5>Commercialization & Growth</h5>
                <p>Analyzing trends in your data and building predictive models.</p>
                <p>Uncover new segments through deep analysis and predict customer behaviour through machine learning.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center" id="projects">Our Work</h2>
    <div class="row py-4 mb-lg-5">
        {{ range first 6 (where .Site.RegularPages.ByWeight "Type" "project") }}
        {{ $image := .Resources.GetMatch "*feature*" }}
        {{ $image = $image.Fill "688x460 center" }}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-hover h-100">
                <img class="card-img-top" src="{{ $image.RelPermalink }}" alt="">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-1">{{ .Title }}</h5>
                    <p class="card-text flex-grow-1">{{ .Params.description }}</p>
                    <a href="{{ .RelPermalink }}" class="btn btn-outline-primary align-self-start stretched-link">Read more</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<hr class="sep border-primary">

<!-- Call to action -->
<div class="container pt-4">
    <div class="text-center">
        <h2 class="mb-4">Interested in learning more? </h2>
        <div class="mb-4">
            <a id="contact-us-button-home" class="btn btn-primary" href="/contact" role="button">Contact Us Today</a>
        </div>
    </div>
</div>

{{ end }}
