{{ define "main" }}

<!-- Hero -->
<div class="container mb-lg-3">
    <div class="row justify-content-center py-5 py-lg-6">
        <div class="col-lg-10 text-center pb-4">
            <h1 class="m-0">Transform Your Technology</h1>
            <p class="px-sm-5 pt-3">
                We develop custom hardware and software products that elevate businesses.
            </p>
            <!--<a class="btn btn-primary" href="#process">Learn More</a>-->
        </div>
    </div>
</div>

<div class="bg-skew bg-skew-light mb-5">
    <h2 class="text-center">Services</h2>
    <hr class="sep border-primary mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="px-lg-3 text-center">
                    <img src="/services/web-apps.svg" alt="Web and Mobile Web Applications" height="140" loading="lazy" class="mb-4">
                    <h4>Web Apps</h4>
                    <p class="mb-md-0">Web platforms, dashboards, and SaaS products</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="px-lg-3 text-center">
                    <img src="/services/infra.svg" alt="Cloud Infrastructure" height="140" loading="lazy" class="mb-4">
                    <h4>Infrastructure</h4>
                    <p class="mb-md-0">DevOps and data architecture strategy to scale your product</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="px-lg-3 text-center">
                    <img src="/services/electronics.svg" alt="Hardware develpoment and electronics" height="140" loading="lazy" class="mb-4">
                    <h4>Electronics</h4>
                    <p class="mb-md-0">Smart IoT devices using wireless communication technologies</p>
                </div>
            </div>
            <div class="col-md-4 offset-md-2 mb-4">
                <div class="px-lg-3 text-center">
                    <img src="/services/ux-ui-design.svg" alt="UX/UI design" height="140" loading="lazy" class="mb-4">
                    <h4>UX/UI</h4>
                    <p class="mb-md-0">Wireframing, prototyping, and designing intuitive interfaces</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="px-lg-3 text-center">
                    <img src="/services/product-management.svg" height="140" loading="lazy" class="mb-4">
                    <h4>Product Management</h4>
                    <p class="mb-md-0">Prioritization, roadmap creation, and go-to-market strategy</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<section class="container py-5">
    <h2 class="text-center mb-5">What our customers are saying</h2>
    <div class="row">
        <div class="col-md">
            <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
                <img class="avatar avatar-md mb-4" src="img/nathan-mero.jpg" alt="Nathan Mah">
                <p class="text-secondary">"Working with Alora Labs has been a great pleasure, and integral to the growth of our business. They build products that are intended to last, and always think quality first."</p>
                <cite class="text-secondary">Nathan Mah, CEO</cite> <br>
                <cite class="text-secondary">Mero Technologies</cite>
            </blockquote>
        </div>
        <div class="col-md">
            <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
                <img class="avatar avatar-md mb-4" src="assets/img/renee-sims.jpg" alt="Renee Sims">
                <p class="text-secondary">It really saves me time and effort. This app is exactly what our business has been lacking.</p>
                <cite class="text-secondary">Renee Sims</cite>
            </blockquote>
        </div>
        <div class="col-md">
            <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
                <img class="avatar avatar-md mb-4" src="assets/img/dallas-kwok.jpg" alt="Dallas Kwok">
                <p class="text-secondary">This app impressed me on multiple levels.</p>
                <cite class="text-secondary">Dallas Kwok</cite>
            </blockquote>
        </div>
    </div>
</section>-->

<div class="container">
    <h2 class="text-center" id="projects">Case Studies</h2>
    <hr class="sep border-primary mb-5">
    <div class="row mb-lg-5">
        {{ range first 6 (where .Site.RegularPages.ByWeight "Type" "project") }}
        {{ $image := .Resources.GetMatch "feature*" }}
        {{ $image = $image.Fill "688x460 center webp" }}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card card-hover h-100">
                <img class="card-img-top" src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{ .Title }}</h4>
                    <div class="card-text flex-grow-1">{{ .Params.description }}</div>
                    <a href="{{ .RelPermalink }}" class="small stretched-link"><br>Case Study ></a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<!-- Call to action -->
<div class="container">
    <div class="text-center">
        <h2 class="mb-4">Interested in learning more?</h2>
        <div class="py-2">
            <a id="contact-us-button-home" class="btn btn-primary" href="/contact" role="button">Contact Us</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <hr class="sep border-primary">
        <p>
            🏆 Latest blog post - <a href="/insights/alora-labs-receives-clutch-2021-top-iot-agency-award/">Alora Labs wins Top IoT Company Award</a>
        </p>
    </div>
</div>

<div class="container d-flex text-center justify-content-center">
    <div class="p-2">
        <a href="https://clutch.co/profile/alora-labs" target="_blank">
            <img class="clutch-awards" src="/img/Social_Developers_Canada_2021.png" alt="Canada's Top Software Developers Award 2021">
        </a>
    </div>
    <div class="p-2">
        <a href="https://clutch.co/profile/alora-labs" target="_blank">
            <img class="clutch-awards" src="/img/B2B_Companies_Canada_2021.png" alt="Canada's Top B2B Companies Award 2021">
        </a>
    </div>
    <div class="p-2">
        <a href="https://clutch.co/profile/alora-labs" target="_blank">
            <img class="clutch-awards" src="/img/top_clutch_iot_company_canada_2023.png" alt="Canada's Top B2B Companies Award 2021">
        </a>
    </div>

</div>

<div class="container">
    <div class="text-center">
        <hr class="sep border-primary">
        <p>
            💡 Check out our guide - <a href="/insights/how-to-develop-your-iot-product/">How To Develop Your IoT Product</a>
        </p>
    </div>
</div>

{{ end }}