{{ define "main" }}

<!-- Hero -->
<div class="container mb-lg-3">
    <div class="row justify-content-center py-4 py-md-5 py-lg-6">
        <div class="col-lg-9 text-center py-4">
            <h1 class="display-3 mb-4">Catalyst you need</h1>
            <p class="lead mb-4">Hire an innovative agency that lives at the intersection of usability and functionality, acting as a catalyst for teams bringing products to market.</p>
            <a class="btn btn-pill btn-primary" href="#">Get started</a>
        </div>

    </div>
</div>

<div class="bg-skew bg-skew-light">

    <!-- Icon blocks -->
    <div class="container">
        <div class="row py-4 mb-lg-5">
            <div class="col-md-4 mb-4">
                <div class="text-center px-lg-3">
                    <span class="icon icon-primary icon-lg mb-3">
                        <i class="icon-inner fas fa-desktop" aria-hidden="true"></i>
                    </span>
                    <h2 class="h4">Web Apps</h2>
                    <p class="mb-md-0">We have experience with custom e-commerce solutions, monitoring dashboards, CRMs.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="text-center px-lg-3">
                    <span class="icon icon-primary icon-lg mb-3">
                        <i class="icon-inner fas fa-microchip" aria-hidden="true"></i>
                    </span>
                    <h2 class="h4">Embedded Systems</h2>
                    <p class="mb-md-0">Embedded Linux applications and bare metal development for the latest microprocessors and SoCs.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="text-center px-lg-3">
                    <span class="icon icon-primary icon-lg mb-3">
                        <i class="icon-inner fas fa-heart-rate" aria-hidden="true"></i>
                    </span>
                    <h2 class="h4">Electronics</h2>
                    <p class="mb-md-0">Designing energy efficient electronics with Bluetooth or WiFi technologies.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Features -->
    <div class="container">
        <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="img/working-mac.jpg" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="col-lg-5">
                <h2 class="h3">Build an elegant website</h2>
                <p class="mb-4">Lots of designers will use fake copy or lorem impsum in their wireframes or prototypes to help them get a sense of the amount of copy required per page.</p>
                <a class="link-cta" href="#">Get started</a>
            </div>
        </div>
        <div class="row justify-content-lg-between align-items-lg-center py-4 py-lg-5">
            <div class="col-lg-6 order-lg-2 mb-4 mb-lg-0">
                <img src="img/coworking.jpg" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="col-lg-5 order-lg-1">
                <h2 class="h3">Create, launch and grow</h2>
                <p class="mb-4">Lots of designers will use fake copy or lorem impsum in their wireframes or prototypes to help them get a sense of the amount of copy required per page.</p>
                <a class="link-cta" href="#">Buy now</a>
            </div>
        </div>
    </div>

</div><!-- end bg-skew -->

<div class="container">
    <h3 class="text-center mt-5 mb-4" id="projects">Check out some of our past work</h3>

    <!-- Pricing cards -->
    <div class="row py-5">
        {{ range first 5 (where .Data.Pages "Type" "project") }}
        <div class="col-lg-4">
            <div class="card card-hover">
                <img class="card-img-top" src="{{ .RelPermalink }}{{ .Params.image }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-text">{{ .Params.description }}</p>
                    <a href="{{ .RelPermalink }}" class="btn btn-pill btn-primary btn-sm">Read more</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
<hr class="sep border-primary">

<!-- Call to action -->
<div class="container py-5">
    <div class="text-center">
        <h2 class="mb-4">Start your new project</h2>
        <div class="mb-4">
            <a class="btn btn-pill btn-primary" href="/contact" role="button">Get started now</a>
        </div>
    </div>
</div>

{{ end }}
