.accordion-button {
  &:hover {
    background-color: $primary-bg-subtle;
    color: $primary;
  }

  &::after {
    content: none;
  }

  i {
    margin-left: auto;
    transition: transform .2s ease-in-out;
  }

  &:not(.collapsed) i {
    transform: rotate(180deg);
  }
}
