@import "mixins";

.card {
    box-shadow: $box-shadow;
    transition: all 0.2s ease-in-out;
}

.card-hover:hover {
    box-shadow: $box-shadow-lg;
    transform: translateY(-3px);
}

.card-title a {
    color: $gray-900;

    &:hover,
    &:focus {
        color: $primary;
    }

    &:hover {
        & .btn-learn-more {
            margin-left: 8px;
        }
    }
}

.service-card {
    position: relative;
    padding-top: 32px;

    &-container {
        &:not(:last-child) {
            margin-bottom: 96px;
        }
    }

    &-icon {
        @include box-shadow($primary);
        position: absolute;
        top: -32px;
        left: 20px;
        background: $primary;
        height: 64px;
        width: 64px;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
