.card {
  box-shadow: $box-shadow;
  transition: all 0.2s ease-in-out;
}

.card-hover:hover {
  box-shadow: $box-shadow-lg;
  transform: translateY(-3px);
}

.card-title a {
  color: $gray-900;

  &:hover,
  &:focus {
    color: $primary;
  }
}
