.icon {
  border-radius: 50%;
  display: inline-flex;
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  width: 3rem;
  height: 3rem;
}

.icon-sm {
  font-size: $font-size-sm;
  width: 2.25rem;
  height: 2.25rem;
}

.icon-lg {
  font-size: 1.75rem;
  width: 4rem;
  height: 4rem;
}

@mixin icon-variant($parent, $color) {
  #{$parent} {
    background-color: rgba($color, .1);
    color: $color !important;

    &[href]:hover {
      background-color: $color;
      color: $white !important;
    }
  }
}

@each $color,
$value in $theme-colors {
  @include icon-variant(".icon-#{$color}", $value);
}