.navbar {

  .navbar-brand > img {
    max-height: 30px;
    width: auto;
  }

  .nav-link {
    text-transform: uppercase;

    &.active {
      color: $primary;
    }
  }

  .dropdown-menu {
    font-size: $font-size-sm;
  }

  @include media-breakpoint-down(md) {
    .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .nav-link {
      border-bottom: 1px solid $gray-200;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
  }
}
