.pagination {
  line-height: 1;

  .page-item {

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: $border-radius-pill;
    }
  }

  .page-link {
    border-radius: 50%;
  }
}