// Place your own Sass variables here.

// Color
// Example: uncomment the line below to change the primary color.

// $primary:   #e22c2f;


$display1-weight: 500;
$display2-weight: 500;
$display3-weight: 500;
$display4-weight: 500;
$headings-font-weight: 500;
$lead-font-weight: 300;

$font-weight-base: 300;
