// Theme variables

// Colors

$primary: #0163ee;
$secondary: #656e79;
$success: #0b8447;
$info: #007faa;
$warning: #ff8c00;
$danger: #e22c2f;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$black: #000;

// Options

$enable-caret: false;
$enable-shadows: true;
$enable-negative-margins: true;

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5
);

// Grid

$grid-gutter-width: 2rem;

// Typography

$font-family-serif: "Merriweather", serif;
$font-family-sans-serif: "Merriweather Sans", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem;

$h1-font-size: 2.25rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.15rem;

$headings-font-family: $font-family-serif;
$headings-font-weight: 700;
$headings-line-height: 1.3;
$headings-margin-bottom: 1rem;

$display-font-sizes: (
  1: 4.75rem,
  2: 4.25rem,
  3: 3.75rem,
  4: 3.25rem,
  5: 2.75rem,
  6: 2.25rem,
);

$paragraph-margin-bottom: 1.5rem;

$blockquote-font-size: $font-size-base * 1.125;

// Components

$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);

// Accordion

$accordion-padding-y: 1.5rem;
$accordion-padding-x: 1.25rem;
$accordion-border-width: 0;

// Alerts

$alert-border-width: 0;
$alert-bg-scale: 0;
$alert-color-scale: 0;

// Buttons + Forms

$input-btn-padding-y: 0.875rem;
$input-btn-padding-x: 1.5rem;
$input-btn-font-size: 0.875rem;

$input-btn-focus-color-opacity: .35;

$input-btn-padding-y-sm: 0.7rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-font-size-sm: 0.8rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1.75rem;
$input-btn-font-size-lg: 1rem;

$input-btn-border-width: 2px;

// Buttons

$btn-box-shadow: 0 7px 16px 0 rgba($black, 0.2);
$btn-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out !default;

// Cards

$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;
$card-border-width: 0;
$card-border-radius: $border-radius-lg;
$card-cap-bg: $white;

// Code

$code-font-size: 1rem;
$code-color: #db1a74;

// Dropdowns

$dropdown-border-radius: 0.5rem;
$dropdown-border-color: $light;
$dropdown-divider-bg: rgba($black, 0.1);
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: rgba($black, 0.05);
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: none;
$dropdown-item-padding-y: 0.5rem;
$dropdown-divider-margin-y: 0;

// Forms

$form-label-font-size: 0.875rem;
$input-padding-x: 1rem;
$input-font-size: 1rem;
$input-padding-x-sm: 0.75rem;
$input-padding-x-lg: 1.25rem;

// Image thumbnails

$thumbnail-padding: 0.5rem;
$thumbnail-bg: $light;
$thumbnail-border-width: 0;
$thumbnail-box-shadow: $box-shadow;

// Modals

$modal-inner-padding: 1.5rem;
$modal-backdrop-opacity: 0.65;

// Navbar

$navbar-light-brand-color: $dark;
$navbar-light-color: $dark;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-toggler-padding-x: 0.5rem;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-focus-width: 0;

// Pagination

$pagination-padding-y: 0.75rem;
$pagination-padding-x: 1rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.65rem;
$pagination-padding-y-lg: 0.9rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-color: $dark;
$pagination-hover-color: $white;
$pagination-hover-bg: $primary;

// Tables

$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-padding-x-sm: 0.5rem;
$table-th-font-weight: normal;
$table-group-separator-color: inherit;
$table-border-factor: 0.3;
$table-bg-scale: 10%;
$table-striped-bg-factor: 0.075;
